# Query \#1

### Give a count of all videos currently out.

SQL:

In [ ]:
SELECT count(*)
FROM rental
WHERE Return_date IS NULL

result:

<img src="./query1_result.png">

# Query \#2

### Make a list of all customer names who have videos out and how much they owe.

SQL:

In [ ]:
SELECT B.name,
       sum(B.rental_rate)
FROM
  (SELECT concat(c.first_name,' ',c.last_name) AS name,
          rental_rate
   FROM
     (SELECT *
      FROM rental
      WHERE return_date IS NULL) AS A
   JOIN inventory i ON i.inventory_id = A.inventory_id
   JOIN customer c ON A.customer_id = c.customer_id
   JOIN film f ON f.film_id = i.film_id) AS B
GROUP BY B.name
ORDER BY SUM DESC

sample result:

<img src="./query2_result.png">

# Query \#3

### Give the most popular actors by store location.

SQL for store 1:

In [ ]:
SELECT T.name,
       count(T.store_id)
FROM
  (SELECT concat(a.first_name,' ', a.last_name) AS name,
          store.store_id
   FROM rental r
   JOIN staff_list s ON r.staff_id = s.id
   JOIN store ON store.store_id = s.sid
   JOIN inventory i ON i.inventory_id = r.inventory_id
   JOIN film f ON f.film_id = i.film_id
   JOIN film_actor fa ON fa.film_id = f.film_id
   JOIN actor a ON a.actor_id = fa.actor_id) AS T
WHERE T.store_id = 1
GROUP BY Name
ORDER BY COUNT DESC LIMIT 1

Result:

<img src="./query3_result1.png">

SQL for store 2:

In [ ]:
SELECT T.name,
       count(T.store_id)
FROM
  (SELECT concat(a.first_name,' ', a.last_name) AS name,
          store.store_id
   FROM rental r
   JOIN staff_list s ON r.staff_id = s.id
   JOIN store ON store.store_id = s.sid
   JOIN inventory i ON i.inventory_id = r.inventory_id
   JOIN film f ON f.film_id = i.film_id
   JOIN film_actor fa ON fa.film_id = f.film_id
   JOIN actor a ON a.actor_id = fa.actor_id) AS T
WHERE T.store_id = 2
GROUP BY Name
ORDER BY COUNT DESC LIMIT 1

Result:

<img src="./query3_result2.png">

# Query \#5

### What hour of the day to people rent the most ?

SQL:

In [ ]:
SELECT T.hour,
       count(*)
FROM
  (SELECT extract(hour
                  FROM rental_date)AS hour
   FROM rental) AS T
GROUP BY T.hour
ORDER BY COUNT DESC

Result:

<img src="./query5_result.png">